body {
    background-color: #f0f0f0;
    font-family: "Poppins", sans-serif;
}

.horse-card {
    transition: all 0.3s ease;
    position: relative;
}

.horse-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.horse-options {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.horse-options .dropdown-toggle::after {
    display: none;
}

.horse-options .btn-link {
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.chore-list {
    max-height: 300px;
    overflow-y: auto;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.category {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.category-day_opening {
    background-color: #e6f3ff;
}

.category-pre_lesson {
    background-color: #e6ffe6;
}

.category-post_lesson {
    background-color: #fff0e6;
}

.category-end_of_day {
    background-color: #ffe6e6;
}

.form-check {
    padding: 5px 0;
    padding-left: 1.5rem;  /* Add this line */
}

.edit-chore,
.delete-chore {
    padding: 0.1rem 0.3rem;
    font-size: 0.75rem;
}

#view-logs-modal .modal-body {
    max-height: 70vh;
    overflow-y: auto;
}

#log-date-range {
    font-size: 0.9rem;
}

.log-entry {
    border-bottom: 1px solid #dee2e6;
    padding: 10px 0;
}

.log-entry:last-child {
    border-bottom: none;
}

.log-timestamp {
    font-size: 0.8rem;
    color: #6c757d;
}

.bg-horse-stable {
    background-image: url("/static/images/horse-in-stable.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.welcome-container {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px 40px;
    border-radius: 15px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}


.form-check-input {
    margin-left: -1.5rem;  /* Add this line */
}